@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
li,a,button{
    font-family: "Lexend Deca";
    font-weight: 750;
    font-size: 25px;
    color:whitesmoke;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,196,1);
   margin-left: 20px;
 border: none;
 border-radius: 50px;
 cursor:pointer;
 transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,196,0.8);

}
.mySpace-img {
    padding-top: 5%;
    padding-left: 25%;
}
.c{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 40%;
}
.earn
{
    width: 1101px;
height: 88px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 88px;

margin-left: 22%;

text-align: center;
letter-spacing: 0.2px;

color: #FFFFFF;


}
.input-group{
    position: absolute;
width: 727px;
height: 89px;
left: 412px;
top: 816px;

background: #FFFFFF;
border-radius: 45px;
}
.get{
    position: relative;
width: 250px;
height: 67px;
left: 877px;
top: 827px;
}